@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.body {
    background-color: #000000;
    margin-top: 80px;
    height: 80vh;
    min-height: 550px;
    width: 900px;
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 0px 16px 13px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 0px 0px 16px 13px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 0px 0px 16px 13px rgba(255, 255, 255, 0.75);
}
.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: bold;
    color: #121212;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: -1px 1px 0 #41ba45,
        1px 1px 0 #c63d2b,
        1px -1px 0 #42afac,
        -1px -1px 0 #c6c23f;
}
.wrapper {
    display: flex;
    gap: 10px;
    height: 100%;
}
.contacts {
    width: 480px;
    box-shadow: 10px 10px 14px -13px rgba(255, 255, 255, 0.75) inset;
        -webkit-box-shadow: 10px 10px 14px -13px rgba(255, 255, 255, 0.75) inset;
        -moz-box-shadow: 10px 10px 14px -13px rgba(255, 255, 255, 0.75) inset;
    padding-left: 20px;
}
.contactsTitle {
    composes: title;
    margin-top: 0px;
    font-size: 50px;
    text-shadow: -1px 1px 0 #c6c23f,
            1px 1px 0 #c6c23f,
            1px -1px 0 #c6c23f,
            -1px -1px 0 #c6c23f;
}
